table, tr, td, th{
    border-style: solid;
    border-color: brown;
    border-width: 1px;
    border-collapse: collapse;

}

tr :hover {
    color: green;
}

table thead tr {
    background-color: crimson;
}

table tr:not(:first-child){
    background-color: darkslateblue;
    
}

tbody tr :nth-child(odd){
    
}


td{
    text-align: center;
}