table, tr, td, th{
    border-style: solid;
    border-color: brown;
    border-width: 1px;
    border-collapse: collapse;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;

}

tbody tr :hover {
    background-color: blueviolet;
}

table thead tr {
    background-color: crimson;
}

table tr:not(2n){
    background-color: darkslateblue;
    
}

tbody tr :nth-child(2n+1){
    background-color: blanchedalmond;
}

.selected{
    transform: scale(1.2);
}
